@font-face {
    font-family: 'Fraunces';
    src: url("../fonts/Fraunces-Black.woff2") format("woff2"), url("../fonts/Fraunces-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/barlow-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    padding-top: 43px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
}

.nav__list-item {
    margin-right: 33px;
}

.nav__item-link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}

.nav__list-item:last-child {
    margin-right: 0;
}

.intro {
    background-image: url("../img/coffee.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 600px;
    margin-top: 45px;
    border-radius: 20px;
}

.intro__container {
    padding-top: 117px;
    padding-left: 86px;
}

.intro__text {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    width: 493px;
    padding-top: 100px;
}

.intro__text1 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgb(254, 252, 247, 0.8);
    max-width: 445px;
    padding-top: 33px;
    padding-bottom: 56px;
}

.intro__link {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
    padding: 15px 31px;
}

.commitment {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 168px;
    padding-bottom: 158px;
}

.commitment__img {
    border-radius: 8px;
    margin-right: 125px;
}

.commitment__div {
    width: 540px;
}

.commitment__title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
    margin-bottom: 32px;
}

.commitment__text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(51, 61, 75, 0.8);
    mix-blend-mode: normal;
}

.quality {
    background-color: #2C343E;
    color: #FEFCF7;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 176px;
    position: relative;
}

.quality__img {
    position: absolute;
    width: 445px;
    height: 474px;
    top: -88px;
    right: 85px;
    border-radius: 10px;
}

.quality__div {
    width: 540px;
    margin-left: 85px;
}

.quality__title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-bottom: 32px;
    margin-top: 100px;

}

.quality__text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(254, 252, 247, 0.8);
    mix-blend-mode: normal;
}

.headquarters {
    padding-top: 168px;
    padding-bottom: 168px;
}

.headquarters__title {
    margin-bottom: 73px;
    margin-left: 85px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.headquarters__list {
    display: flex;
    align-items: center;
    margin-left: 85px;
}

.headquarters__item {
    width: 272px;
    margin-right: 95px;
}

.headquarters__item:last-child {
    margin-right: 0;
}

.headquarters__img {
    margin-bottom: 46px;
}

.headquarters__list-title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-top: 46px;
    margin-bottom: 24px;
}

.headquarters__text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.footer {
    background-color: #2C343E;
    display: flex;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 47px;
}

.footer__logo {
    margin-left: 85px;
    margin-right: 103px;
}

.footer__list {
    display: flex;
}

.footer__item {
    margin-right: 33px;
}

.footer__item:last-child {
    margin-right: 0;
}

.footer__link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}

.footer__links {
    margin-left: 380px;
    display: flex;
    align-items: center;
}

.footer__links-item {
    margin-right: 24px;
}

@media only screen and (max-width:1279px) {

    .commitment__title {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .commitment__text {
        font-size: 15px;

    }

    .commitment__div {
        width: 339px;
    }

    .commitment__img {
        width: 281px;
        height: 470px;
        margin-right: 69px;
    }

    .commitment {
        padding-bottom: 180px;
    }

    .quality__img {
        top: -160px;
        width: 573px;
        height: 320px;
        left: calc(50% - 573px / 2);
    }

    .quality {
        padding-top: 244px;
        padding-bottom: 67px;
    }

    .quality__title {
        font-size: 32px;
    }

    .quality__div {
        margin: 0 auto;
        text-align: center;
    }

    .quality__text {
        font-size: 15px;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .footer__logo {
        margin-bottom: 32px;
    }

    .footer__item {
        margin-bottom: 65px;
    }

    .footer__links {
        margin-left: 0;
    }
    .intro__text {
        font-size: 40px;
        width: 188px;
        padding-top: 100px;
    }

    .intro__text1 {
        padding-top: 24px;
    }
}

@media only screen and (max-width:767px) {
    .intro__text {
        font-size: 28px;
        text-align: center;
        padding-top: 111px;
    }
    .intro__text1 {
        font-size: 15px;
        width: 279px;
        text-align: center;
        padding-top: 24px;
        padding-bottom: 87px;
    }
    .nav__list-item {
        margin-right: 5px;
    }
    .nav__item-link {
        font-size: 8px;

    }
    .commitment__img {
        margin-right: 0;
        width: 327px;
        height: 400px;
        margin-top: 120px;
    }
    .commitment {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .commitment__div {
        text-align: center;
    }
    .commitment__title {
        font-size: 32px;
        margin-bottom: 30px;
        margin-top: 48px;
    }
    .quality__img {
        width: 279px;
        height: 156px;
        left: calc(50% - 279px / 2);
        top: -79px;
    }
    .quality {
        padding-top: 144px;
        padding-bottom: 61px;
    }
    .quality__title {
        font-size: 28px;
        margin-bottom: 24px;
        margin-top: 64px;
    }
    .quality__div {
        width: 280px;
    }
    .headquarters__title {
        text-align: center;
        margin-left: 0;
        margin-bottom: 72px;
    }
    .headquarters__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    .headquarters__item {
        margin: 0;
        margin-bottom: 80px;
        text-align: center;
    }
    .headquarters__list-title {
        margin-top: 48px;
        margin-bottom: 22px;
        font-size: 28px;
    }
    .headquarters__img {
        margin-bottom: 0;
    }
    .headquarters__text {
        font-size: 16px;
    }
    .footer__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__item {
        margin: 0;
        margin-bottom: 24px;
    }
    .footer__links {
        text-align: center;
    }
}